#up {
    flex-grow: 1;
    border: 1px red solid;

}

#left_right {
    flex-grow: 1;
    display: flex;

}

#down {
    flex-grow: 1;
    border: 1px red solid;


}

#left {
    flex-grow: 8;
    border: 1px red solid;

}

#middle {
    flex-grow: 1;
}

#middle > h1 {
    text-align: center;
}

#right {
    flex-grow: 8;
    border: 1px red solid;

}